.tooltipdiv {
    width: 400px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: auto;
   resize: both;
align:left;
}


.moreInformation {
    font-weight: bold; 		
    font-size: 12px;
    float:left;
    display:inline-block;
   padding:5px 5px 5px 5px ;
}

.moreInformation:hover {
   
background:#FFFF00;
}

.viewJSON {
    font-weight: bold; 	
    font-size: 12px;
    display:inline-block;
   padding:5px 5px 5px 5px ;
}

.viewJSON:hover {
   
background:#FFFF00;
}

.closeTooltip {
    float:right;
    display:inline-block;
    padding:5px 5px 5px 5px ;
    background:#FFFFFF;
    font-size: 12px;
}

.closeTooltip:hover {
    
    background:#FF0000;
}

.textnode {
   
align:left;
}


pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
